<!doctype html>
<html>
<head>
<title>Get Into The Flow</title>
     <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
     body{
        background-color: #1b4b6e;
         }

        @font-face{
            font-family: 'briar-display';
            src: url('assets/briar-display.otf');
        }

        h1{
        font-family: 'arial';
        font-style: italic;
        font-size: 30px;
        margin-left: 0px;
        color: #ef4d4b;
        }

        p{
        font-family: 'arial';
        font-style: italic;
        font-size: 30px;
        color: #1b4b6e;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        }

        p:hover{
                color: #ef4d4b;
        }

        .menu{
            display: flex;
            justify-content: center;
            }

    .mnu.flow{
        font-family: briar-display;
        font-size: 18.30px;

    }
        
    .mnu {
            background-color: transparent;
            border: 1px solid;
            position: relative;
            float: center;
            line-height: 1;
            margin: 0.5em;
            padding: 0.5em 1em;
            font-family: 'arial';
            font-style: regular;
            font-size: 18px;
            color: #ef4d4b;
            cursor: pointer;
            display: inline-block;
            box-shadow: 
            0.3em 0.3em 0 0 var(--color),
            inset 0.3em 0.3em 0 0 var(--color);
            }

    .mnu:hover {
            background-color: #ef4d4b;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            color: #1b4b6e;
            }

        .btn.yes{
            background-color: #ef4d4b;
            margin-bottom: 83px;
            width: 90px;
            text-align: center;
        }

        .btn.yes:hover{
            background-color: transparent;
        }

        .btn.no{
            background-color: #ef4d4b;
            width: 90px;
            text-align: center;
        }

        .btn.no:hover{
            background-color: transparent;
        }


    .meme {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        bottom: 0;
        left: 0;
            }



     .btn {
            background-color: transparent;
            border: 1px solid;
            border-color:#ef4d4b ;
            line-height: 1;
            margin-bottom: -1px;
            display: block;
            padding: 0.25em 0.5em;
            font-family: 'arial';
            font-style: italic;
            font-weight: 100;
            font-size: 20px;
            text-align: center;
            margin-right: 10px;
            color: #ef4d4b; 
            cursor: pointer;
            display: inline-block;
            box-shadow: 
            0.3em 0.3em 0 0 var(--color),
            inset 0.3em 0.3em 0 0 var(--color);
            }

    .btn:hover {
            background-color: #ef4d4b;
            color: #1b4b6e;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }


     @media screen and (max-width: 1920px){
            
            .meme {
        position: absolute;
        display: flex;
        justify-content: left;
        align-items: left;
        top: 0px;
        bottom: 0;
        left: 0;
        margin-left: 10%;
        
            }

            img{
                max-width: 400px;
                height: auto;
            }
   
        }

        .right{
            position: fixed;
            display: flex;
            justify-content: left;
            top: 0;
            left: 50%;
            bottom: 0;
            right: 0;
            margin-top: 20%;
            padding-right: 5%;
            }

        .question{
            position: fixed;
            display: flex;
            justify-content: left;
            margin-left: 0;
            margin-left: 0px;
            margin-right: 0px;
        }

        .answers{
            margin-left: 0px;
        }

        }

        .button-resources{
        position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-top: 600px;
        margin-left: 0px;
            }


            .note{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-top: 200px;
            }
   
        }

        @media screen and (max-width: 1400px){

            h1{
        font-family: 'arial';
        font-style: italic;
        font-size: 30px;
        color: #ef4d4b;
        }

        p{
        font-family: 'arial';
        font-style: italic;
        font-size: 30px;
        color: #1b4b6e;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        }

        p:hover{
                color: #ef4d4b;
        }
            
            .meme {
        position: absolute;
        display: flex;
        justify-content: left;
        align-items: left;
        bottom: 0;
        left: 0;
        margin-left: 10%;
         }

            img{
                max-width: 400px;
                height: auto;
            }

            .body-text{

            position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-top: 80px;

            }

            .two{
                position: fixed;
                display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        margin-top: 20px;
            }

            .question{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-left: 0px;
            margin-right: 0px;
            }

            .answers{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        padding-top: 100px;
        margin-left: 0px;
            }

            .answers-two{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        left: 50%;
        margin-top: 280px;
        margin-left: 0px;
            }
   
    

            .recenter-button{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-top: 60px;
        margin-left: 0px;
            }

            .resources-button{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-top: 300px;
        margin-left: 0px;
            }


            .note{
                position: fixed;
        display: flex;
        justify-content: left;
        align-items: left;
        top: auto;
        bottom: auto;
        left: 50%;
        margin-top: 200px;
          }
   
        }


        @media screen and (max-width: 1000px) {

              h1{
        font-family: 'arial';
        font-style: italic;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        color: #ef4d4b;
        }

        h2{
            margin-left: 10px;
        margin-right: 10px;
        }

        p{
        font-family: 'arial';
        font-style: italic;
        font-size: 18px;
        color: #1b4b6e;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        }

        p:hover{
                color: #ef4d4b;
        }

        .right{
            position: fixed;
            display: flex;
            justify-content: center;
            text-align: left;
            top: 250px;
            left: 0.5%;
            bottom: 0;
            right: 0;
            padding-right: 0;
            }

        .mnu.flow{
        font-family: briar-display;
         font-size: 14.30px;

    }
    
        .mnu {
            background-color: transparent;
            border: 1px solid;
            line-height: 1;
            margin: 0.5em;
            padding: 0.5em 1em;
            font-family: 'arial';
            font-style: regular;
            font-size: 14px;
            color: #ef4d4b;
            cursor: pointer;
            display: inline-block;
            box-shadow: 
            0.3em 0.3em 0 0 var(--color),
            inset 0.3em 0.3em 0 0 var(--color);
            }

            
        .meme {
        position: static;
        bottom: 0;
        left: auto;
        right: auto;
        margin-top: 30px;
        margin-left: 0;
        display: flex;
        justify-content: center;

            }

            img{
                max-width: auto;
                height: 220px;
                display: flex;
            justify-content: center;
            }

        }


        .body-text{
            display: flex;
            justify-content: center;
        margin-top: 50px;
            }

            .two{
                display: flex;
            justify-content: center;
            position: fixed;
        margin-top: 170px;
            }

            .question{
                position: fixed;
                display: flex;
            justify-content: center;
            }

            .answers{
                display: flex;
                position: static;
            justify-content: center;
        padding-top: 140px;
        margin-left: 10px;
            }

            .answers-two{
                display: flex;
            justify-content: center;
            position: fixed;
        margin-top: 240px;
        margin-left: 10px;
            }
   
    

            .recenter-button{
                display: flex;
            justify-content: center;
        margin-top: 90px;
        margin-left: 10px;
            }

            .resources-button{
                position: fixed;
                display: flex;
            justify-content: center;
        margin-left: 41px;
            }

            .note{
                display: flex;
            justify-content: center;
        margin-top: 20%;
            }
   
        }
    
            }
   
        }

    </style>

