<!doctype html>
<html>
<head>
<title>Get Into The Flow</title>
     <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
        body{
        background-color: #1b4b6e;
         }

        h1{
        font-family: 'arial';
        font-style: italic;
        font-size: 30px;
        margin-left: 10px;
        color: #ef4d4b;
        }

        p{
        font-family: 'arial';
        font-style: italic;
        font-size: 30px;
        color: #1b4b6e;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: left;
        }

        p:hover{
                color: #ef4d4b;
        }

        .btn.yes{
            background-color: #ef4d4b;
            margin-bottom: 83px;
        }

        .btn.yes:hover{
            background-color: transparent;
        }

        .btn.no{
            background-color: #ef4d4b;
        }

        .btn.no:hover{
            background-color: transparent;
        }

    .menu{
            display: flex;
            justify-content: center;
            max-width: 100%;
            }

        

    .mnu {
            background-color: transparent;
            border: 1px solid;
            line-height: 1;
            margin: 0.5em;
            padding: 0.5em 1em;
            font-family: 'arial';
            font-style: regular;
            font-size: 18px;
            color: #ef4d4b;
            cursor: pointer;
            display: inline-block;
            box-shadow: 
            0.3em 0.3em 0 0 var(--color),
            inset 0.3em 0.3em 0 0 var(--color);
            }

        .mnu:hover {
            background-color: #ef4d4b;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            color: #1b4b6e;
            }


   .meme {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        bottom: 0;
        left: 0;
        margin-left: 10%;
            }

            img{
                max-width: 500px;
                }


       


.btn {
            background-color: transparent;
            border: 1px solid;
            border-color:#ef4d4b ;
            max-width: 100%;
            line-height: 1;
            margin-bottom: -1px;
            display: block;
            padding: 0.25em 0.5em;
            font-family: 'arial';
            font-style: italic;
            font-weight: 100;
            font-size: 20px;
            text-align: left;
            color: #ef4d4b; 
            cursor: pointer;
            display: inline-block;
            box-shadow: 
            0.3em 0.3em 0 0 var(--color),
            inset 0.3em 0.3em 0 0 var(--color);
            }

        .btn:hover {
            background-color: #ef4d4b;
            color: #1b4b6e;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
 



        .right{position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50%;
            margin-top: 20%;
            padding-right: 5%;
            }

        @media screen and (max-width: 500px) {
   
  .meme {
   display:none;
  }
  
  .right {
   display:none;
  }
  }

    </style>
